body {
   background: white url(WidgetCoLogo.gif) bottom right no-repeat;
   color: black;
}
p {
   margin-left: 10%;
   margin-right: 10%;
   text-align: justify;
   line-height: 1.33em;
}
p#summary {
   border: 2px solid #008000;
   border-width: 2px 2px 2px 2em;
   padding: 0.5em 0.5em 0.5em 1em;
   background: #FFE;
   line-height: 1em;
}
div.release {
   font-variant: small-caps;
   text-align: center;
   margin-right: 10px;
   padding: 0.125em 0;
   border: 1px solid black;
   border-width: 1px 0 1px 15px;
}
div#contact-info {
   padding-left: 10px;
   border-left: 15px solid #446;
   padding-top: 0.25em;
   color: #321;
   font-size: 90%;
}
div#contact-info:first-line {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 1.111em;
}
div#footer {
   text-align: right;
   margin-top: 2.5em;
   border-top: 1px solid gray;
   color: #AAA;
   font-size: 85%;
   padding-top: 0.33em;
   font-style: italic;
}
div#footer a:link {
   color: #778;
}
div#footer a:visited {
   color: #878;
}
a.stockinfo {
   font-weight: bold;
   font-style: normal;
   color: blue;
   background: #FFE;
}
a.stockinfo:hover {
   background: blue;
   color: white;
}
h1 {
   font-size: 250%;
   margin-top: -2.5em;
   margin-left: 5em;
   padding-left: 0.33em;
   text-indent: -0.25em;
}
h2 {
   font-size: 150%;
   font-style: italic;
   text-align: center;
   margin: 0 10%;
}
